# NO ignorar estos archivos importantes
!.gitignore
!README.md
!LICENSE
!pom.xml
!build.gradle
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
!src/
!Dockerfile
!docker-compose.yml
!.github/
